{% extends 'base.html.twig' %}
{% block title %}Profil Utilisateur
{% endblock %}

{% block body %}
	<a href="{{ path('app_home_page') }}">Page d'accueil</a>
	<div class="container text-center">
		<div>
			<div class="col" _msttexthash="52312" _msthash="255">
				azerty
			</div>
			<div class="col" _msttexthash="77766" _msthash="252">
				Username :
				{{ app.user.username }}
			</div>
		</div>
		<div class="row">
			<div>
				<p>écrire ici sa bio</p>
			</div>

			<div class="col" _msttexthash="52403" _msthash="256">
				<a href="#" class="btn-primary">Modifier le profil</a>
			</div>
		</div>
	</div>
	<div class="col">
		<p>Posts</p>
	</div>
	{# {% for post in posts %}
		<div class="col">{{ post.author }}</div>
			<div class="col">{{ post.content }}</div>
			<div class="col">{{ post.created_at }}</div>
		{% endfor %} #}
	{% endblock %}