{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}

{% block body %}
	<h1>Suivez le chemin</h1>
	<h2>Inscrivez-vous.</h2>

	{{ form_errors(registrationForm) }}

	{{ form_start(registrationForm) }}
	{{ form_row(registrationForm.username) }}
	{{ form_row(registrationForm.email) }}
	{{ form_row(registrationForm.plainPassword.first, {
            label: 'Password'
        }) }}
{{ form_row(registrationForm.plainPassword.second, {
            label: 'password confirmation'
        }) }}
	{{ form_row(registrationForm.agreeTerms) }}


	<button type="submit" class="btn">Register</button>
	{{ form_end(registrationForm) }}
{% endblock %}
