<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap" rel="stylesheet">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
		<link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">

		{{ encore_entry_link_tags('app') }}
		{% block stylesheets %}{% endblock %}

		{% block javascripts_head %}
			{{ encore_entry_script_tags('app') }}
			{% block importmap %}
				{{ importmap('app') }}
			{% endblock %}
		{% endblock %}
	</head>

	<body class="d-flex flex-column min-vh-100">
		<header>
			<nav class="navbar navbar-expand-lg bg-body-tertiary">
				<div class="container-fluid">
					<img src="{{ asset('images/logo_carrot.png') }}" class="logo_carrot" alt="logo carrot">
					<a href="{{ path('app_logout') }}" class="text-decoration-none nav-link">
						<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 512 512" width="50" height="50"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M288 32c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 224c0 17.7 14.3 32 32 32s32-14.3 32-32l0-224zM143.5 120.6c13.6-11.3 15.4-31.5 4.1-45.1s-31.5-15.4-45.1-4.1C49.7 115.4 16 181.8 16 256c0 132.5 107.5 240 240 240s240-107.5 240-240c0-74.2-33.8-140.6-86.6-184.6c-13.6-11.3-33.8-9.4-45.1 4.1s-9.4 33.8 4.1 45.1c38.9 32.3 63.5 81 63.5 135.4c0 97.2-78.8 176-176 176s-176-78.8-176-176c0-54.4 24.7-103.1 63.5-135.4z"></svg>
						</a>
			
						<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
							<span class="navbar-toggler-icon"></span>
						</button>

						<div class="collapse navbar-collapse" id="navbarNav">
							<ul class="navbar-nav ms-auto d-flex justify-content-end">
								<li class="nav-item">
									<a href="{{ path('app_posts_index') }}" class="text-decoration-none nav-link">Page posts</a>
								</li>
								<li class="nav-item">
									<a href="{{ path('profile_index') }}" class="text-decoration-none nav-link">Profil</a>
								</li>
								<li class="nav-item">
									<a href="{{ path('app_logout') }}" class="text-decoration-none nav-link">Déconnexion</a>
								</li>
								<li class="nav-item"></li>
							</ul>
						</div>

					</div>
				</nav>

			</header>

			<main class="flex-grow-1">
				{% block body %}

					{# CONTENU DES BASES #}

				{% endblock %}
			</main>


			<footer class="p-3  d-flex flex-column justify-content-center align-items-center">
				<div>
					<p>Copyright &copy 2025 - Arthur Flavie Marc - ARINFO DWWM</p>
				</div>

			</footer>

			{% block javascripts %}
				<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
			{% endblock %}
		</body>
	</body>
</html>
