{% extends 'base.html.twig' %}


{% block title %}Profil Utilisateur{% endblock %}

{% block body %}

    <h1>Bienvenue sur votre profil</h1>
    <p>{{ app.user.username }}</p>
    <a href="{{ path('app_logout') }}">Déconnexion</a>

    <h2>Créer un post</h2>
    {{ form_start(postForm) }}
        {{ form_row(postForm.content) }}

        <button type="submit" class="btn">Planter</button>
    {{ form_end(postForm) }}
    

        <h2>Vos posts</h2>
        <ul>
            {% for post in posts %}
                <li>{{ post.content }}</li>
            {% endfor %}
        </ul>
    

{% endblock %}